*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
h3{
  display: none;
}

.container1 .header{
  width: 100%;
  height: auto;
  border-bottom: 1px solid ;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.navbar .nav-logo{
  display: flex; 
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #482ff7;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
}
.navbar ul li{
  display: inline-block;
  justify-content: space-between;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.nav-link{
  color: #626367;
}
.nav-link:hover{
  color: #961dff; 
  background: rgba(194,97,239,0.25);
  padding: 5% 10%;
  
  border-radius: 8px;
  font-weight: 650;
  transition: all 0.3s;
}
.bar {
      display: block;
      width: 25px;
      height: 2.5px;
      margin: 5px 2rem;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #000;
    }
 .hamburger{
   display: none;
 }
@media only screen and (max-width: 600px) {
      .nav-menu {
        position: absolute;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: Sans-Serif;
        left: -100%;
        top: 8rem;
        display: flex;
        padding-left: 5%;
        flex-direction: column ;
        background-color: #fff;
        /*sidebar bg color*/
        width: 70%;
        border-radius: 0 18px 18px 0;
        transition: all 0.3s ease-in-out;
        color: #fff;
        box-shadow:
        1px 15px 30px rgba(0, 0, 0, 0.15);
      }

      .nav-link:hover {
        color: #961dff; 
  background: rgba(194,97,239,0.25);
        font-weight: bold;
        font-size: 18px;
        padding-left: 10px;
        line-height: 40px;
        width: 100%;
        border-radius: 8px;
        border: 0px solid #1c9dbd;
        transition: all 0.25s ease-in-out;
      }
      /*this brings the drawer forward*/
      .nav-menu.active {
        left: 0;
      }

      .nav-item {
        margin: 2.5rem 0;
      }

      .hamburger {
        display: block;
        cursor: pointer;
        border: 0.5px solid #fff;
        padding: 0 2px 0 2px;
        border-radius: 25%;
      }
      h3{
        text-align: left;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    }
